.body{
    background-image: url(../img/sign.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    width: 500px;
    margin: 31px auto;
}
.contuc-form {
    background-color: #F5FFFA;
    padding: 63px;
}
h3 {
    color: #DA70D6;
    text-align: center;
    font-size: 32px;
}
.sign-up-form {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
}
h5 {
    margin: 0px;
    
}
.padding {
    margin-bottom: auto;
}
.btn {
    padding: 9px 19px;
    border-radius: 8px;
    background: #FA8072;
    position: absolute;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 4px 2px 5px #ff0000;
    background: #33ccff;
}
h6 {
    margin: 7pxpx;
}